* {
    --primary-color: #fff;
    --secondary-color: #000;

    --accent-color1: #bbb;
    --accent-color2: #107896;

    --primary-background:#344055;
    --secondary-background:#0cc0df;
}
body {
    max-width: 960px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}
main {
    padding: 0.5rem;
}
footer, header {
    padding: 0.5rem;
    color: var(--primary-color);
}
header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid var(--primary-background);
}
footer {
    background-color: var(--primary-background);
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
}
header h1 {
    color: var(--primary-background);
}
h1, h2, h3, h4 {
    margin:  1rem;
    font-family: "League Spartan", sans-serif;
}
h1, h2 {
    color: var(--accent-color2);
}
nav {
    display: none;
    grid-gap: 10px;
    font-size: 1.2rem;
    grid-column: 1 / span 2;
    text-align: center;
    width: 90%;
}
nav a {
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-bottom: 1px solid #bbb;

}
nav a:hover {
    font-weight: 900;
    text-decoration : var(--secondary-color) underline;
}
img {
    object-fit: contain;
    border-radius: 4px;
    width: 100%;
    /* background-color: var(--primary-background); */
    
}
figure, p {
    margin: 2px;
    padding: 0 1rem;
    max-width: 900px;
}
header a {
    text-decoration: none;
}
button {
    background: var(--primary-background);
    border: 0.1rem var(--primary-background) solid;
    border-radius: 0.375rem;
    padding: 0.375rem;
    margin: 0.375rem;
    color: var(--primary-color);
}
button:hover {
    background: var(--secondary-background);
    border: 0.1rem var(--secondary-background) solid;
    color: var(--secondary-color);
}



.display-grid {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); 
    grid-gap: 20px;
    place-items: center;
}
.text-center {
    text-align: center;
}
.active {
    color: var(--secondary-color);
}
nav.show {
    display: grid;
}
#menu::before {
    content: "≡";
    color: white;
    font-size: 2rem;
}
#menu.show::before {
	content: "X";
    color: white;
    font-size: 1.5rem;
}
.card {
    --card-border:0.1rem solid #b0c6f0;
    --card-border-radius: 5px;
    background-color: rgb(212, 212, 212);
    border: var(--card-border) ;
    border-radius: var(--card-border-radius);
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body {
    padding: 10px;
    flex-wrap: wrap;
}
.d-flex {
    display: flex !important;
}
.d-inline {
    display: inline-block !important;
}