
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins&display=swap');

:root {
    --primary-color: #071013;
    --secondary-color: #344055;
    --emphasis-color: #0c3a0a;
    --accent1-color: #b0c6f0;
    --accent2-color: #BAFF29;

    --heading-font: "Poppins", cursive;
    --paragraph-font:"Open Sans", sans-serif;

    --nav-background-color: #344055;
    --nav-link-color: #fff;
    --nav-hover-link-color: #071013;
    --nav-hover-background-color: #BAFF29; 
}

body {
    font-family: var(--paragraph-font);
    margin: 0;
    justify-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    background-color: var(--accent1-color);
    padding-top: 5px;
    width: 100%;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-decoration : var(--nav-hover-background-color) underline;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1200px;
    column-gap: 0.2rem;
    padding: 0.5rem;
}

footer {
    background-color: var(--accent1-color);
    text-align: center;
    width: 100%;
    padding: 1px 0;
}

li {
    line-height: 3rem;
}


p {
    padding: 0.1rem 1rem;
}
/*Class selectors*/
.page-heading {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem 1rem;
}

.card {
    --card-border:0.1rem solid #b0c6f0;
    --card-border-radius: 10px;
    background-color: whitesmoke;
    /* padding: 5px 20px; */
    border: var(--card-border) ;
    border-radius: var(--card-border-radius);
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-header {
    background-color: var(--accent1-color);
    padding: 0.5rem;
    margin-bottom: 0;
    border-bottom: var(--card-border);
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-body {
    padding: 4px;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.col {
    flex: 1 0 0;
}

.img-tile {
    width: 7rem;
    height: auto;
    padding: 2px;
    /* box-shadow: 0 0 30px gray; */
    border-radius: 5%;
    margin: 0px 10px 4px;
    
}

.float-right {
    float: right;
    align-self: center;
}

.float-left {
    float: left;
    align-self: center;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-self: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.margin-vh {
    margin: 2rem 0;
}

.width-75 {
    width: 75%;
}

.text-emphasis {
    color: var(--emphasis-color);
}
