* {
    --primary-color: #fff;
    --secondary-color: #00ffff;

    --primary-background:#344055;
}
body {
    max-width: 960px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}
footer, header {
    background-color: var(--primary-background);
    padding: 0.5rem;
    color: var(--primary-color);
}
header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
}
footer {
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
}
h1, h2, h3 {
    margin: 4px 1rem;
}
nav {
    display: none;
    grid-gap: 10px;
    font-size: 1.2rem;
    grid-column: 1 / span 2;
    text-align: center;
    width: 90%;
}
nav a {
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-bottom: 1px solid #bbb;

}
nav a:hover {
    font-weight: 900;
    text-decoration : var(--secondary-color) underline;
}
img {
    width: 400px;
    height: 250px;
    border-radius: 4px;
    background-color: var(--primary-background);
    box-shadow: #00ffff;
}
figure, p {
    margin: 2px;
}

.display-grid {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); 
    grid-gap: 20px;
    place-items: center;
}
.text-center {
    text-align: center;
}
.active {
    color: var(--secondary-color);
}
nav.show {
    display: grid;
}
header a {
    text-decoration: none;
}
#menu::before {
    content: "≡";
    color: white;
    font-size: 2rem;
}
#menu.show::before {
	content: "X";
    color: white;
    font-size: 1.5rem;
}
.card {
    --card-border:0.1rem solid #b0c6f0;
    --card-border-radius: 5px;
    background-color: rgb(212, 212, 212);
    border: var(--card-border) ;
    border-radius: var(--card-border-radius);
    position: relative;
}
.card-body {
    padding: 10px;
    flex-wrap: wrap;
}