body {
    font-family: "Roboto", serif;
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 0.5rem 1rem;
    background-color: rgba(20, 165, 223, 0.4);
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section {
    padding: 0 1rem;
    background-color: white;
}